[submodule "library/pokemon-showdown"]
	path = library/pokemon-showdown
	url = git@github.com:kosakasakas/pokemon-showdown.git
[submodule "library/pokeapi"]
	path = library/pokeapi
	url = git@github.com:kosakasakas/pokeapi.git
[submodule "library/damage-calc"]
	path = library/damage-calc
	url = git@github.com:kosakasakas/damage-calc.git
